@page "/activity"
@rendermode InteractiveServer

<PageTitle>activity</PageTitle>

<h1>Hi,a Admin</h1>

<h3>Upload Your CSV file top-row get Started</h3>

<form>
  <input type="file" id="myFile" name="filename">
  
</form>


@* From here down should only appear after a file has been uploaded *@

<h1>Welcome, Admin</h1>

<h2> Entries/Exits</h2>
<h2>256</h2>
<h2> People</h2>
<h2>46</h2>


<h3>Deteched Issues</h3>
<ul>
  <li>Door 2 may need maintenance soon</li>
  <li>Unusual Entry at Door 5</li>
  <li><u>Show More</u></li>
</ul>


<h3>Most Active</h3>

<h3><b>Person:</b>fd6de8</h3>
<h3><b>Panel:</b>12</h3>
<h3><b>Reader:</b>2</h3>

<h3>Deteched Issues</h3>
@* Map image goes here*@
<ul>
  <li>Activated Door 1</li>
 <li>Activated Door 2</li>
 <li>Activated Door 3</li>
 <li>Activated Door 4</li>
 <li>Activated Door 1</li>
 <li>Activated Door 1</li>
 <li>Activated Door 5</li>  @* Error image here *@
 <li>Activated Door 3</li>
  <li><u>Show More</u></li>
</ul>
