@page "/activity"
@rendermode InteractiveServer

<PageTitle>activity</PageTitle>

<h1>Activity</h1>


<style>
    body {
        background-color: black;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }


</style>