@page "/activity"
@rendermode InteractiveServer

<PageTitle>activity</PageTitle>

<h1>Activity</h1>


<pre>@OGEApp.Components.Pages.Upload.fileCSVHandler.fileContents</pre>

<h2>Person</h2>
@* Map person Paths Image *@
<ul>
  <li>Name</li>
  <li>Total Activations</li>
  <li>Recent Activity</li>
  <li>Paths</li>
</ul>

<h2>Panel</h2>
@* Map panel location Image *@
<ul>
  <li>Name</li>
  <li>Readers</li>
  <li>Model</li>
  <li>Recent Activity</li>
  <li>Location on Map</li>
  <li>Maintenance Status</li>
</ul>

<h2>Person</h2>
@* Map Reader location Image *@
<ul>
  <li>Name</li>
  <li>Panel</li>
  <li>Model</li>
  <li>Recent Activity</li>
  <li>Location on Map</li>
  <li>Maintenance Status</li>
</ul>
