@page "/activity"
@rendermode InteractiveServer

@inject NavigationManager Navigation

<PageTitle>activity</PageTitle>

<MudButton Variant="Variant.Filled"
           Color="Color.Primary"
           StartIcon="@Icons.Material.Filled.ArrowBack"
           OnClick="backToUpload">
    <b>Upload</b>
</MudButton>

<h1 style="font-weight: bold; margin-top: 7mm;">Activity</h1>


<h1 style="font-weight: bold; margin-top: 7mm;">Timeframe</h1>


<input type="date" @bind="selectedDateMin" style="width: 20%; padding: 5px; border: 1px solid #FFFFFF; border-radius: 5px; background-color: black; color: #FFFFFF;">

<input type="date" @bind="selectedDateMax" style="width: 20%; padding: 5px; border: 1px solid #FFFFFF; border-radius: 5px; background-color: black; color: #FFFFFF;">




@* <MudSimpleTable Style="overflow-x: auto; background-color: rgb(75, 72, 72);">
    <thead>
        <tr>
            <th>Day of the Week</th>
            <th>Event Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Upload.eventsByDayOfWeek)
        {
            <tr>
                <td>@entry.Key</td>
                <td>@entry.Value.Count</td>
            </tr>
        }
    </tbody>
</MudSimpleTable> *@

<style>
    body {
        background-color: black;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    input {
  color-scheme: dark;
}


</style>

@code {

      public DateTime selectedDateMin { get; set; } = DateTime.Today;
      public DateTime selectedDateMax { get; set; } = DateTime.Today;


    private void backToUpload()
    {
        Navigation.NavigateTo("/");
    }

   

   

}