@page "/fulllist"
@rendermode InteractiveServer

@inject NavigationManager Navigation

<PageTitle>FullList</PageTitle>

<MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.ArrowBack"
               OnClick="backToActivity">
        <b style="text-align: left; width: 100%;">Activity</b>
    </MudButton>



 @for(int i = 0; i< Labels.Length; i++ ){
                
               
                
                <h3 style="font-size: 17px; margin-bottom: 5%; margin-top: 1%;">@item @Labels[i] has @Series[i] scans</h3>
                
                }

<style>
    body {
        background-color: black;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    input {
  color-scheme: dark;
}


</style>

@code{

    
    public static string[] Labels { get; set; }

    
    public static double[] Series { get; set; }

    public static string item  { get; set; }

        private void backToActivity()
    {
        Navigation.NavigateTo("/activity");
    }
     
}