@page "/map"
@rendermode InteractiveServer

@* If page does not work. close current build. do these commands in terminal:   dotnet clean         then do          dotnet watch build *@
<PageTitle>map</PageTitle>

<h1>Map</h1>

