@page "/statistics"
@rendermode InteractiveServer

<PageTitle>statistics</PageTitle>

<h1>Time:</h1>

<button>1D</button>
<button>5D</button>
<button>1M</button>
<button>6M</button>
<button>1Y</button>